@charset "UTF-8";


main > h1 {
    text-align: center;
}

.pula {
    padding-bottom: 10px;
}

.pula2 {
    padding-top: 10px;
    padding-bottom: 20px;
}

.pula3 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.pula10 {
    padding-top: 10px;
    padding-bottom: 10px;
}
.singular {
    background-color: rgb(252, 213, 166);
    border-radius: 10px;
}

.plural {
    margin-top: 10px;
    background-color: rgb(252, 213, 143);
    border-radius: 10px;
}